@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 625%;
}

header {
    height: 50px;
    position: fixed;
    width: 100%;
}

header nav{
    float: right;
    margin: 1.2rem;
    font-size: 1rem;
}