@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WandohopeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
    cursor: none;
}

html {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 625%;
    background-color: #f5f9ff;
}

header {
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header nav{
    float: right;
    margin: 1.2rem;
    font-size: 1rem;
}

.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.parallax__layer--0 {
    transform: translateZ(-100px) scale(2);
}
.parallax__layer--1 {
    transform: translateZ(-100px) scale(2);
}
.parallax__layer--2 {
    transform: translateZ(-50px) scale(1.5);
}
.parallax__layer--3 {
    transform: translateZ(0px) scale(1);
}

.parallax__sections {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}

.parallax__sections section {
    background: #1a2536;
    height: 100vh;
}

.cursor {
    pointer-events: none;
}

.cursor__pointer {
    z-index: 1000;
    position: absolute;
    border-left: 0.5rem solid red;
    border-bottom: 0.5rem solid transparent;
}

.cursor__image {
    z-index: 1000;
    width: 2rem;
    height: 2rem;
    position: relative;
    transform: scaleX(-1);
    background-size: cover;
    background-repeat: no-repeat;
}
