@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    cursor: none;
}

html {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 625%;
}

header {
    height: 50px;
    position: fixed;
    width: 100%;
}

header nav{
    float: right;
    margin: 1.2rem;
    font-size: 1rem;
}

.cursor {
    border-left: 0.5rem solid red;
    border-bottom: 0.5rem solid transparent;
    position: absolute;
    z-index: 1000;
    transform: translate(-15%, -30%);
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
}
